.differential {
  @apply flex
        flex-col
        items-center
        justify-center
         p-4 
        text-white
        gap-4
        xs:p-4 xs:mb-4
        sm:p-8 sm:mb-4
        md:p-10
        lg:mt-2 lg:p-20
        xl:mt-2 xl:p-28;
}
.differential h2 {
  @apply xs:text-3xl
        sm:text-3xl
        md:text-4xl
        lg:text-4xl 
        xl:text-4xl;
}

.container-card-differential {
  @apply grid 
        xs:gap-4
        sm:gap-4
        md:grid-cols-2 md:gap-4 
        lg:grid-cols-2 lg:gap-5 lg:p-2 
        xl:grid-cols-2 xl:gap-8 xl:p-4;
}

.card-differential {
  @apply flex 
        items-center
        justify-center
        gap-2
        xl:w-[500px];
}

.content-differential {
  @apply p-1;
}

.content-differential h3 {
  @apply xs:text-base
        sm:text-lg
        md:text-xl
        lg:text-xl 
        xl:text-xl;
}
.content-differential p {
  @apply xs:text-sm;
}
