footer {
  @apply relative 
      text-white 
        z-20
        w-full;
}

.overlay-footer {
  @apply bg-[#000000f3] 
         absolute
         -z-10
         w-full h-full;
}

.content-footer {
  @apply flex 
        justify-center
        xs:flex-col xs:gap-3 xs:p-4
        sm:flex-col sm:gap-3 sm:p-8
        md:p-10 md:gap-24
        lg:p-24 lg:gap-28
        xl:p-32 xl:gap-40;
}
.logo-footer {
  @apply flex
        md:w-[25vw] md:gap-2
        lg:w-[25vw] lg:gap-2
        xl:w-[15vw] xl:gap-2;
}

.content-footer p {
  @apply z-20 
        sm:text-lg sm:w-[90%]
        lg:text-xl 
        xl:text-xl;
}

.nav-footer ul {
  @apply flex
    flex-col
    mt-1
    md:text-base
    lg:text-lg
    xl:text-lg;
}
.nav-footer h4 {
  @apply text-xl;
}
.social-footer {
  @apply bg-[#F1C40F]
        flex
        items-center
        justify-center
        xs:p-2 xs:gap-3 
        sm:p-3 sm:gap-4
        md:p-4 md:gap-5
        lg:p-5 lg:gap-5 
        xl:p-8 xl:gap-5;
}

.copyright {
  @apply flex
        items-center
        justify-center
        text-center
        xs:text-xs xs:p-4
        sm:text-sm sm:p-4
        md:text-sm md:p-4
        lg:p-4
        xl:p-8;
}
