.testimonials {
  @apply relative
        w-full
        flex
        flex-col
        items-center
        justify-center
        text-white
        xs:p-4 xs:gap-3
        sm:p-8 sm:gap-4
        md:p-10 md:gap-4
        lg:p-10
        xl:p-10;
}
.overlay-testimonials {
  @apply bg-[#000000e5]
         absolute
         w-full
         h-full;
}
.testimonials h2 {
  @apply text-white
        z-50
        xs:text-2xl
        sm:text-3xl
        md:text-4xl 
        xl:text-4xl xl:p-8;
}

.container-card-testimonials {
  @apply z-10;
}

.card-testimonials {
  @apply relative 
        flex
        flex-col
        items-center
        justify-center
        xs:p-2
        sm:p-5 sm:w-[450px] sm:gap-2
        md:w-[500px] md:p-7 md:gap-2
        lg:w-[550px] lg:p-9 lg:gap-2
        xl:w-[550px] xl:p-10 xl:gap-2;
}
.card-testimonials p {
  @apply text-center 
        xs:text-base xs:w-[85%]
        sm:text-lg 
        md:text-lg
        lg:text-xl
        xl:text-xl;
}
.quote-icon {
  @apply absolute
        xs:text-lg
        sm:text-xl
        md:text-2xl
        lg:text-3xl
        xl:text-3xl;
}

.left {
  @apply top-2
          left-2;
}

.right {
  @apply top-2
          right-2;
}

.dots {
  @apply flex 
      justify-center 
      gap-4 
      z-20 
      p-2;
}

.dot {
  @apply w-3 
      h-3 
      bg-white 
      opacity-50 
      rounded-full 
      cursor-pointer 
      transition-all 
      duration-300;
}

.dot.active {
  @apply opacity-100 
        scale-125 
        bg-yellow-400;
}

.container-profile {
  @apply flex 
        items-center
        gap-2
        w-full
        xs:w-[90%]
        sm:justify-center
        md:justify-center
        lg:justify-center
        xl:justify-center;
}
.img-profile {
  @apply xs:w-14 xs:h-14
        sm:w-16 sm:h-16 
        md:w-16 md:h-16
        lg:w-20 lg:h-20 
        xl:w-20 xl:h-20
        rounded-full;
}
