.testimonials {
  background-image: url("https://res.cloudinary.com/dkrpmbjml/image/upload/v1749308432/cardapio_urmw5q.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  @apply relative
        w-full
        flex
        flex-col
        items-center
        justify-center
        text-white
        xl:p-10;
}
.overlay-testimonials {
  @apply bg-[#000000e5]
         absolute
         w-full
         h-full;
}
.testimonials h2 {
  @apply text-white
        z-50
        xl:text-4xl xl:p-8;
}

.container-card-testimonials {
  @apply z-10;
}

.card-testimonials {
  @apply relative 
        flex
        flex-col
        items-center
        justify-center
        xl:w-[550px] xl:p-10 xl:gap-2;
}
.card-testimonials p {
  @apply text-xl
        text-center;
}
.quote-icon {
  @apply absolute
        text-3xl;
}

.left {
  @apply top-2
          left-2;
}

.right {
  @apply top-2
          right-2;
}

.dots {
  @apply flex 
      justify-center 
      gap-4 
      z-20 
      p-2;
}

.dot {
  @apply w-3 
      h-3 
      bg-white 
      opacity-50 
      rounded-full 
      cursor-pointer 
      transition-all 
      duration-300;
}

.dot.active {
  @apply opacity-100 
        scale-125 
        bg-yellow-400;
}

.container-profile {
  @apply flex
        items-center
        justify-center
        gap-2;
}
.img-profile {
  @apply w-20
        h-20
        rounded-full;
}
