header {
  background-image: url("https://res.cloudinary.com/dkrpmbjml/image/upload/v1749308670/hero_vjwjtg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @apply w-full 
        relative 
        flex
        flex-col
        items-center
        justify-center
        xl:gap-4
        xs:h-[50vh] xs:p-4 
        xl:h-[720px];
}

header img {
  @apply absolute
        top-5
        left-5
        z-10
        xl:w-80;
}

header h1 {
  font-family: "Lilita One", sans-serif;
  text-shadow: -8px 0px 6px #ff5c00;
  @apply text-white 
        z-10 
        xl:text-7xl;
}
header p {
  font-family: "Lilita One", sans-serif;
  @apply text-white 
        z-10
        text-center 
        xl:text-3xl;
}

.container-buttons {
  @apply grid
        grid-cols-2
        gap-2;
}

.buttons {
  @apply p-2
        bg-[#ff5c00]
        hover:bg-[#F1310F]
        flex
        items-center
        justify-center
        z-10
        rounded
        shadow-lg
        text-white

        xl:text-sm xl:h-11 xl:w-64;
}

.overlay {
  @apply bg-[#0000009a] 
        w-full
        h-full
        absolute;
}
