.container-navigation {
  @apply absolute 
        xs:-bottom-7
        sm:-bottom-7
        md:-bottom-8
        lg:-bottom-9
        xl:-bottom-10
        p-2;
}

.list-navigation {
  @apply flex
      xs:gap-2
      sm:gap-3
      md:gap-4
      lg:gap-4
      xl:gap-4;
}

.item-navigation {
  @apply bg-[#F1C40F]
        hover:bg-[#ff5c00]
        cursor-pointer
        rounded
        shadow-2xl
        text-white
        text-center
        font-semibold
        xs:h-10 xs:p-2 xs:text-xs xs:w-20
        sm:h-10 sm:p-2 sm:text-xs sm:w-28
        md:h-11 md:p-3 md:text-sm md:w-36
        lg:h-14 lg:w-60
        xl:h-16 xl:w-80;
}
.navigation {
  @apply w-full
        h-full
        flex
        items-center
        justify-center
        lg:p-2
        xl:p-4;
}
