@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Lilita One", sans-serif;
}

body {
  @apply bg-[#000000];
}

main {
  @apply flex 
        flex-col
        items-center
        justify-center;
}

.bg-image {
  background-image: url("https://res.cloudinary.com/dkrpmbjml/image/upload/v1749308432/cardapio_urmw5q.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
