.contacts {
  @apply text-white 
        flex
        xs:p-4 xs:flex-col xs:gap-2
        sm:p-8 sm:flex-col sm:gap-2
        md:p-10 md:gap-2
        lg:p-14 lg:gap-2
        xl:p-20 xl:gap-2;
}

.content-contacts {
  @apply flex
        flex-col
        xs:gap-2
        sm:gap-2
        md:w-[50vw] md:gap-2
        lg:w-[40vw] lg:gap-2
        xl:w-[30vw] xl:p-4 xl:gap-3;
}
.content-contacts h3 {
  @apply xs:text-2xl
        sm:text-3xl
        md:text-3xl
        lg:text-3xl 
        xl:text-3xl;
}
.content-contacts p {
  @apply xs:text-lg 
        sm:text-lg
        md:text-lg
        lg:text-lg
        xl:text-xl;
}

.container-form {
  @apply flex 
        xl:p-4;
}

form {
  @apply flex
        flex-col        
        gap-3
        xs:w-full
        sm:w-full
        lg:w-[450px]
        xl:w-[500px];
}
form div {
  @apply grid 
        grid-cols-2
        gap-2;
}
input {
  @apply h-11
        p-2
        bg-transparent
        border border-[#F1C40F]
        outline-none
        xs:text-sm;
}
textarea {
  @apply h-20
        p-2
        bg-transparent
        border border-[#F1C40F]
        outline-none
        resize-none;
}
.container-form button {
  @apply bg-[#ff5c00]
        hover:bg-[#F1C40F]
            h-11;
}

.link-media {
  @apply text-[#F1C40F]
        hover:text-[#ff5c00]
        text-lg
        font-semibold;
}
