.schedule {
  @apply bg-[#F1C40F]
        w-full
        flex
        items-center
        justify-center
        xl:mt-4 xl:p-10 xl:gap-2;
}

.schedule-content {
  @apply flex
        flex-col
        xl:p-4 xl:gap-4;
}

.schedule h2 {
  @apply text-4xl
        font-semibold;
}

.container-card-schedule {
  @apply flex
        flex-col
        xl:gap-2;
}

.card-schedule h3 {
  @apply text-xl
        font-bold;
}

.schedule-map {
  @apply xl:w-[30vw];
}

.card-schedule span {
  @apply flex 
        items-end
        justify-center
        gap-2;
}

.card-schedule span p {
  @apply text-lg;
}

.location-icon {
  @apply text-4xl;
}

.link-schedule {
  @apply bg-[#F1310F]
        text-center
        xl:p-3;
}
